body{
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color:rgb(49, 49, 58)
}
.container{
    background-image: url('##PICTURE##');
    background-color: #cccccc;
    min-width: 530px;
    max-width: 1000px;
    height: 550px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.menu{
    height: 100px;
    width: 1000px;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: stretch;
}
.content{
    height: 450px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.menu_item{
    height: 80px;
    min-width: 160px;
    width: auto;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(1px) contrast(0.6);
    background-color:rgba(85,85,85, 0.5);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75rem;
    text-align: center;
    color: rgba(255,255,255,0.8);
}

.menu_item:hover{
    cursor: pointer;
    backdrop-filter: blur(1px) contrast(0.3);
}

.entity{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-wrap: break-word;
    background-color:rgba(85,85,85, 0.5);
    width: 240px;
    height: 120px;
    backdrop-filter: blur(1px) contrast(0.6);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    padding: 5px;
    margin: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.75rem;
    text-align: center;
    color: rgba(255,255,255, 0.8);
}
.entity:hover{
    cursor: pointer;
    backdrop-filter: blur(1px) contrast(0.3);
}

.on{
    background-color: rgba(196, 167, 83, 0.5);
    border: 2px solid rgba(196,167,83,0.5);
}

.error{
    background-color: rgba(255,0,0,0.5)
}

.debug_item{
    border-radius: 10px;
    display:block;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    margin: 2.5%;
    background-color:rgba(229, 226, 226, 0.1);
    float: left;
    width: 95%;
    height: auto;
    text-align: left;
    font-size: 1.1em;
}